/* slider.css */

.slider {
    position: relative;
  }
  
  
  .slideImg {
    position: relative;
  }
  
  .imageOverlay {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* min-height: 480px; */

  }