/* slider.css */

.slider {
    position: relative;
  }
  
  .sliderWrapper {
    background-color: #000;
  }
  
  .slideImg {
    position: relative;
  }
  
  .imageOverlay {
    width: 100%;
    height: auto;
    min-height: 480px;
    /* opacity: 0.4; */
  }