@tailwind base;
@tailwind components;
@tailwind utilities;z

*{
  margin: 0;
  padding: 0;
}

.prim

body {
  background: #364B94 !important;
  color: #ffffff !important;
}

footer{
  background: #4A5AA1 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
